
.select-tag>Select
{
   background-color: black;
}
.filter-by{
    width: 100%;
    border: 1px solid #2C2D2C;
    padding: 2px;
    margin-left: 10px;
    color:gray;
    padding-bottom: 10px;
    border-bottom: 5px solid orange ;
   
}
.filter-by:hover{
    cursor: pointer;
    color: rgb(244, 247, 250);
   
}
.show-div{
    border: 1px solid #2C2D2C;
    padding: 2px;
    margin-left: 10px;
    color:gray;
   
}
.show-div:hover{
    cursor: pointer;
    color: rgb(244, 247, 250);
}
.hide-div{
    display: none   ;
}